 /*index.html*/

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    margin-bottom:50px;
    font-family:Arimo, sans-serif;
}
#home-photo {
    background: url('../images/home-photo.jpg') no-repeat center center;
    width:150%;
    height:800px;
    background-size: cover;
    
    
}
#menu {
    float:right;
    font-size:160%;
    color:#000000;
    letter-spacing: 2px;
    margin-right:20px;
    
}
#menu a:hover {
    border-bottom:2px solid #3a3a3a;
}
#logo {
    float:left;
    color:#000000;
    font-size:400%;
}
#menu li {
    float:right;
    list-style-type:none;
    margin-right: 20px;
    text-decoration: none;
}

#yoga-intro {
    text-align:center;
}
#left-list {
    text-align:left;
}
#middle-list {
    text-align:center;
}
#right-list {
    text-align:right;
}
footer {
    
    background-color: #000000;
    height:100px;
 
}
.social-media {
    text-align:center;
    list-style-type: none;

}
.social-media > li {
    display:inline;
}
.social-media  i {
    margin:1%;
    padding:1%;
    color:black;
    font-size:300%;
    color:white;
    
}

/*signup.html*/
/*picute wont load*/

.form {
    background:url('../images/woman-sunset.jpg');
    clear:left;
    background-size:cover;
    height:700px;
    background-position:center;
}

